@keyframes luz {
  0% {
    background-color: lime;
    box-shadow: 0 0 5px lime;
  }
  50% {
    background-color: green;
    box-shadow: none;
  }
  100% {
    background-color: lime;
    box-shadow: 0 0 5px lime;
  }
}