@keyframes luz {
  0% {
    background-color: red;
    box-shadow: 0 0 5px red;
  }
  50% {
    background-color: darkred;
    box-shadow: none;
  }
  100% {
    background-color: red;
    box-shadow: 0 0 5px red;
  }
}
